.nav__list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav__item a {
    font-size: 1.5rem;
    color: var(--color--primary);
}

a.active {
    color: var(--color--secondary);
}

a:hover {
    color: var(--color--secondary);
    transition: .6s;
}