.list__item {
    width: 252px;
    min-height: 500px;
    height: auto;
    color: var(--color--secondary);
}

.list__item img {
    width: 300;
    height: 350;
    margin: auto;
}

.item__img {
    position: relative;
}

.item__icon {
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    background-color: var(--color--secondary);
}

.item__icon-favorite {
    color: var(--color--primary);
    background-color: var(--color--bg);
}

.item__info {
    margin: 15px;
    text-align: center;
    min-height: 160px;
}

.item__info h2 {
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color--primary);
}

.item__info p {
    margin: 3px 0;
    font-size: .9rem;
    font-style: italic;
}

audio {
    width: 250px;
    height: 30px;
}