.list__item {
    color: rgb(8, 7, 7);
    width: 252px;
    min-height: 500px;
    height: auto;
}

.list__item img {
    width: 300;
    height: 350;
    margin: auto;
}

.item__info {
    margin: 10px;
    text-align: center;
    min-height: 150px;
}

.item__info span {
    font-weight: bold;
}

.item__info p {
    font-size: .9rem;
    margin: 3px 0;
    font-style: italic;
}

audio {
    width: 250px;
}